{% extends 'MopaBootstrapBundle::base_less.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_script %}
{% javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock head_script %}

{% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@ChmMPFormBundle/Resources/public/less/bootstrap.less'
    %}
    {# % stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    % #}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
{% endblock head_style %}

{% block content %}

    <div class="col-lg-3">
        <h3>Basic form</h3>
        <p>With v3.0, we have smarter defaults for form styles.</p>
    </div>
    <div class="col-lg-9">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group btn-group col-xs-12 col-sm-6 col-md-6  col-md-offset-6">
                <div class="">
                    <button type="submit" class="btn btn-primary">Recevoir le devis</button>
                </div
            </div>
        </form>
    </div>

{% endblock content %}